@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    body{
        @apply bg-brand-blue-dark;
        @apply text-white;
        padding-bottom: 75px;
        overflow-y: scroll;
    }

    html{
        font-family: "Montserrat", sans-serif;
    }

    h3{
        @apply font-bold;
    }

    /* @screen md{
        h3{
            @apply text-5xl;
        }
    } */

    h4{
        @apply font-bold;
    }

    /* @screen md{
        h3{
            @apply text-3xl;
        }
    } */


}